@charset "utf-8";

:root {
  --background-color-one: rgb(255, 255, 255);
  --background-color-two: rgb(0, 0, 0);
  --dialog-background-color: rgba(0, 0, 0, 0.877);
  --font-color-one: rgb(240, 235, 235);
  --font-color-two: rgb(28, 26, 26);
  --footer-background: rgba(251, 251, 251, 0);
  --background-mask: rgba(0, 0, 0, 0.7);
  --action-button-color: rgb(214, 33, 17);
  --input-background-color: rgba(26, 26, 26, 0.863);
  --input-border-color: rgba(240, 235, 235, 0.831);
  --shadow: -16px 13px 19px -3px rgba(0, 0, 0, 0.122);
}


* {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: var(--background-color-one);
}


/* Auxilary classes */

.container {
  width: min(100% - 90px, 1080px);
  margin: 0 auto;
} 


.flex {
  display: flex;
}


.flex-wrap {
  flex-wrap: wrap;
}


.space-around {
  justify-content: space-around;
}


.space-between {
  justify-content: space-between;
}


.center {
  justify-content: center;
  text-align: center;
}


.gap-10 {
  gap: 15px;
}


.gap-40 {
  gap: 40px;
}
