@charset "utf-8";

:root {
  --background-color: rgb(1, 2, 2);
  --input-background-color: rgb(255 255 255 / 0.05);
  --font-color: rgb(240, 235, 235);
  --action-button-color: rgb(60, 87, 255);
}


* {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: var(--background-color);
  color: var(--font-color);
}


.flex {
  display: flex;
}


.flex-wrap {
  flex-wrap: wrap;
}


.space-around {
  justify-content: space-around;
}


.space-between {
  justify-content: space-between;
}


.center {
  justify-content: center;
  text-align: center;
}

.gap-5 {
    gap: 5px;
  }
  
.gap-10 {
  gap: 15px;
}


.gap-40 {
  gap: 40px;
}

section {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    font-size: 50px;
}


input {
    height: 48px;
    width: 100px;
    color: var(--font-color)
}

input[type=number] {
    width: 100px;
    padding: 0 15px;
    border-radius: 25px;
    background-color: var(--input-background-color);
    font-size: 18px;
    text-align: center;
}

input + input {
    margin-top: 15px;
}

input[type=submit] {
    width: 150px;
    padding: 0 15px;
    border-radius: 25px;
    background-color: var(--action-button-color);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

.output p {
    font-size: 20px;
    color: var(--font-color)
}

.set-output {
    margin-bottom: 30px;
}